Demos/Demo04/Demo04/Connected Services/Taller.Servicios/Producto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind.Librerias.EntidadesNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind.Librerias.EntidadesNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbeProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beProducto" nillable="true" type="tns:beProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeProducto" nillable="true" type="tns:ArrayOfbeProducto" />
  <xs:complexType name="beProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:short" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beProducto" nillable="true" type="tns:beProducto" />
</xs:schema>